@font-face {
	font-family: "Overpass";
	src: url("./../fonts/Overpass-Regular.ttf");
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Overpass";
	src: url("./../fonts/Overpass-Bold.ttf");
	font-weight: 700;
	font-display: swap;
}

:root {
	--orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

/* CUSTOM RESETS */
input[type="radio"],
input[type="submit"] {
	margin: unset;
	border: unset;
}
input[type="submit"] {
	background: unset;
}
/* END CUSTOM RESETS */

body {
	color: var(--light-grey);
	background-color: var(--very-dark-blue);
	font-size: 15px;
	height: 100vh;
	font-family: "Overpass", sans-serif;

	display: grid;
	place-items: center;
}

/* SECTION ELEMENT, the component's container */
section {
	/* set the width on mobile */
	width: 80%;
	/* limit the width for desktop */
	max-width: 22.5rem;
	background-color: var(--dark-blue);
	padding: 1rem 1rem 2rem;
	border-radius: 1rem;
}

.thank-you-state {
	padding: 2rem 1rem 2rem;
}
/* END SECTION ELEMENT */

h1,
.copy-heading {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

p {
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

#star-icon {
	width: 1rem;
	height: 1rem;
	background-color: hsl(213deg 9% 22%);
	padding: 1rem;
	border-radius: 100%;
	margin-bottom: 2rem;
}

.radios-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

label {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;

	/* changing the position value to center its child elements */
	position: relative;
	/* set the default background color */
	background-color: hsl(213deg 9% 22%);
}
label span,
label input {
	position: absolute;
}

label span {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 100%;
	color: var(--light-grey);

	width: 100%;
	height: 100%;
}

/* RADIO BUTTONS */
input[type="radio"] {
	/* with these height and width, the user has a larger area
	to select a rating */
	height: 100%;
	width: 100%;

	/* the radio elements' styles can't be styled uniformly
	accross browsers, but they remain functional even when 
	transparent */
	opacity: 0;
}

/* 
To display hover and selected states, change the background color of the adjacent span which have a higher z-index than the radio buttons.
This solution works across browsers.
*/
input[type="radio"]:hover + span {
	background-color: var(--medium-grey);
	cursor: pointer;
	color: white;
}
input[type="radio"]:checked + span {
	background-color: var(--orange);
	color: white;
}
input[type="radio"]:hover {
	cursor: pointer;
}
/* END RADIO BUTTONS */

/* SUBMIT BUTTON */
input[type="submit"] {
	background-color: var(--orange);
	color: white;
	width: 100%;
	padding: 1rem;
	border-radius: 3rem;
	text-transform: uppercase;
}
input[type="submit"]:hover,
input[type="submit"]:active {
	background-color: white;
	color: var(--orange);
}
input[type="submit"]:hover {
	cursor: pointer;
}
/* END SUBMIT BUTTON */

/* "THANK YOU" STATE */
.thank-you-state {
	text-align: center;
}

#thank-you-illustration {
	margin-bottom: 1rem;
}

.selection-recap {
	color: var(--orange);
	background-color: hsl(216deg 12% 25%);
	border-radius: 1rem;
	padding: 0 0.5rem;
	width: fit-content;
	text-align: center;
	font-size: 0.8rem;
	margin: 0 auto 2rem;
}

.thank-you-state p:last-child {
	margin-bottom: unset;
}
/* END "THANK YOU" STATE */
